<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/solvae_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/solvae_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Solvae"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.LoginActv"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AdcServ"
            android:exported="false" />
        <activity
            android:name=".activity.MenuBar"
            android:exported="false" />
        <activity
            android:name=".activity.ServicosHistorico"
            android:exported="false" />
        <activity
            android:name=".activity.DetalhesServico"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.PerfilUsuario"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.EditarPerfilPF"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.EditarPerfilPJ"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.MenuServices"
            android:exported="false" />
        <activity
            android:name=".activity.SelectCad"
            android:exported="false" />
        <activity
            android:name=".activity.ClienteCad"
            android:exported="false" />
        <activity
            android:name=".activity.EmpresaCad"
            android:exported="false" />
        <activity
            android:name=".activity.RecallSenha"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>